@font-face {
  font-family: 'averia_serif_librebold';
  src: url('./type/averiaseriflibre-bold-webfont.woff2') format('woff2'),
       url('./type/averiaseriflibre-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'averia_serif_librebold_italic';
  src: url('./type/averiaseriflibre-bolditalic-webfont.woff2') format('woff2'),
       url('./type/averiaseriflibre-bolditalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'averia_serif_libreitalic';
  src: url('./type/averiaseriflibre-italic-webfont.woff2') format('woff2'),
       url('./type/averiaseriflibre-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'averia_serif_libreregular';
  src: url('./type/averiaseriflibre-regular-webfont.woff2') format('woff2'),
       url('./type/averiaseriflibre-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  font-family: 'averia_serif_libreregular', sans-serif;
}

#container {
  width: 100vw;
}

.section {
  text-align: justify;
}

.flex {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

#cover-section {
  position: relative;
  background-color: #262626;
  height: 100vh;
  width: 100vw;
}

#logo {
  height: 100vh;
  width: 100vw;
  position: absolute;
}

#plinth-section {
  background-image: url('./images/bg_mochagrunge.png');
  background-repeat: repeat;
  height: 100vh;
  width: 100vw;
}

#plinth-section p {
  width: 100%;
  max-width: 800px;
  padding: 0 1.5rem;
  font-size: 1.35em;
  margin: 20px auto;
  box-sizing: border-box;
}

#ichnos-section {
  background-image: url('./images/bg_cartography.png');
  background-repeat: repeat;
  height: 100vh;
  width: 100vw;
}

#attr-section {
  background-image: url('./images/bg_pinkrice.png');
  background-repeat: repeat;
  color: black;
}

#attr-section a {
  color: black;
}